.env
.envrc
.coverage
.coverage.*
.python-version
.venv/
.pytest_cache/
.ruff_cache/
__pycache__/
*.py[codz]
*$py.class
*.egg
*.egg-info/
*.log
*.py,cover
*.pyc
.hypothesis/
.mypy_cache/
.nox/
.pyre/
.tox/
.vscode/
build/
dist/
env/
ENV/
htmlcov/
instance/
pip-wheel-metadata/
site/
venv/
venvops/
zip/
output/
logs/*.log
sample_data/incoming/*.xml
sample_data/processed/
!sample_data/incoming/.gitkeep
!sample_data/processed/.gitkeep
!logs/.gitkeep
